body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consola {
    width: 45em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo espacios laterales  */

.contenedor-botones {
    width: 5.5em;
    height: 16em;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contenedor-izq {
    z-index: 2;
    border-radius: 50px 0px 0px 50px;
    background-color: rgb(17, 86, 212);
}

.contenedor-drcha {
    z-index: 2;
    border-radius: 0px 50px 50px 0px;
    background-color: rgb(207, 44, 15);
}

.btn {
    background-color: black;
}

.cruz1 {
    transform: rotate(90deg);
}

.btn-superior-der {
    position: absolute;
    box-shadow: #afa0a07a 0px 1px 10px 4px;
    margin-top: 1em;
    margin-right: 1em;
    align-self: flex-end;
}

.btn-superior-izq {
    box-shadow: #afa0a07a 0px 1px 10px 4px;
    margin-top: 1em;
    margin-right: 1em;
    align-self: flex-end;
}

#btns-cruz-sup {
    margin-top: 10px;
    margin-right: 4em;
    align-items: flex-start;
    position: relative;
}

.btn-reset {
    box-shadow: #afa0a07a 0px 1px 10px 4px;
    border-radius: 2em;
    margin-bottom: 1em;
    margin-right: 1em;
    width: 1em;
    height: 1em;
    align-self: flex-end;
}

.led-apagado {
    border: 2px solid grey;
}

.led-encendido {
    border: 2px solid green;
}

#btn-home {
    cursor: pointer;
    box-shadow: #afa0a07a 0px 1px 10px 4px;
    border-radius: 2em;
    margin-bottom: 2.5em;
    margin-left: 1em;
    width: 1.5em;
    height: 1.5em;
    align-self: flex-start;
}

.contenedor-joystick {
    border-radius: 50%;
    border: 5px solid black;

}

.joystick {
    padding: 15px;
    background-color: rgb(3, 3, 3);
    box-shadow: #fffafac0 0px 1px 10px 4px;
    width: 2em;
    height: 2em;
    border-radius: 3em;
}

#div-cuatro-btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.btn-redondo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.411);
    background-color: black;
    border-radius: 50%;
    width: 1.7em;
    height: 1.7em;
}

#btn-1 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#btn-2 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

#btn-3 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

#btn-4 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

/* Estilos pantalla central  */

.contenedor-pantalla {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30em;
    height: 16em;
    background-color: #2e2a2a;
    color: aliceblue;

}

.cont-shadow {
    width: 28em;
    height: 15em;
    background-color: black;
    box-shadow: inset grey 1px 0px 7px 2px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pantalla {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24em;
    height: 12.5em;

}

#btns-sup {
    display: flex;
    justify-content: space-between;
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    width: 44em;
    height: 16em;
}

#btn-l {
    margin-top: 14px;
    margin-left: 42px;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    box-shadow: -18px 3px 0 5px black;
    transform: rotate(45deg);
}

#btn-r {
    margin-top: 14px;
    margin-right: 42px;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    box-shadow: -18px 3px 0 5px black;
    transform: rotate(150deg);
}

.btns-arriba {
    margin-bottom: 8em;
}

#contenedor-huecos {
    width: 30em;
    height: 16em;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.hueco {
    background-color: white;
    width: 10px;
    height: 12px;
}

#hueco-izq {
    border-radius: 0px 0px 15px 0px;
}

#hueco-der {
    border-radius: 0px 0px 0px 15px;
}

/* Estilos de los vídeos  */

.video-logo {
    background-size: contain;
    width: 24em;
    height: 12.5em;
}